/* Rafa / 18-12-2024 / Estilos / 1.0.0 */

/*-----ESTILOS GENERALES-----*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #FCFCFC;
  display: grid;
  grid-template-rows: auto, 1fr, auto;
  height: 100dvh;
  width: 100dvw;
}

.App-header{
  width: 100%;
  background-color: #29324e;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-return{
  font-size: 40px;
  color: white;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.AppHeader-brand{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.AppHeader-logo{
  width: 30px;
}

.AppHeader-text{
  margin: 0;
}

/*-----ESTILOS DEL MAIN-----*/

.App-main{
  min-height: calc(100dvh - 160px);
  display: grid;
  grid-template-areas: 
  "left rightUp"
  "left rightMiddle"
  "left rightDown";
  grid-template-rows: auto auto auto;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.main-leftContainer{
  grid-area: left;
  background-color: #dfdfdf90;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.listaPiezas-container{
  padding: 0;
  width: 100%;
  height: 500px;
  margin: 0;
  gap: 20px;
}

.listaPiezas-title{
  text-align: center;
}

.main-rightContainer{
  max-height: calc(100dvh - 80px);
  margin-bottom: 50px;
}



.main-rightContainer-up{
  grid-area: rightUp;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background-color: #dfdfdf90;
  max-height: 600px;
  overflow: auto;
  margin-bottom: 20px;
}

.main-rightContainer-middle{
  grid-area: rightMiddle;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background-color: #dfdfdf90;
  max-height: 600px;
  overflow: auto;
}

.main-rightContainer-down{
  grid-area: rightDown;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background-color: #dfdfdf90;
}

/*-----ESTILOS DEL FOOTER-----*/

.main-footer{
  height: 80px;
  background-color: #29324e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}