/* Estilo base para el contenedor principal */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh; 
  box-sizing: border-box;
}

/*Centrar los div*/
.div1, .div4, .div5 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

/* Header */
.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: #f0f0f0; 
  padding: 10px;
}

/* Contenedor de buscar piezas y botones */
.div2 {
  grid-area: 2 / 1 / 5 / 4;
  background-color: #ffffff; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; 
  overflow-y: auto; 
}

/* Sección de nombre encargado y lista */
.div3 {
  grid-area: 2 / 4 / 4 / 6;
  background-color: #f9f9f9;
  padding: 20px;
}

/* Formulario para añadir piezas */
.div4 {
  grid-area: 4 / 4 / 5 / 6;
  background-color: #ffffff;
  padding: 20px;
  
}

/* Footer siempre al final */
.div5 {
  grid-area: 5 / 1 / 6 / 6;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: sticky; 
  bottom: 0;
  width: 100%;
}
